<!DOCTYPE html>
<html>
    <head>
<title> Dashboard </title>
    </head>
    <body>
        <h2>Lista de tareas</h2>
        <br>
        <form method="post" url="{% url 'gestion_tareas:dashboard' %}">
        {% csrf_token %}    
            <select name="designadoFiltrado" id="">
                <option value="Rodrigo Alejandro Flores Zúñiga">Rodrigo Alejandro Flores Zúñiga</option>
                <option value="Alvaro Alonso Flores Zúñiga">Alvaro Alonso Flores Zúñiga</option>
                <option value="Lorena Isabel Flores Zúñiga">Lorena Isabel Flores Zúñiga</option>
                <option value="Matias">Matias</option>
            </select>
            <button type="submit" name="Filtrar">Filtrar</button>
        </form>
        <br>
        <button><a href="{% url 'gestion_tareas:dashboard' %}">Restablecer</a></button> 
        <br>
        {% for tarea in tareas %}
        <h4>Título de la tarea: {{tarea.titulo}}</h4>
        <h4>Fecha de creación: {{tarea.fecha_creacion}}</h4>
        <h4> opción de eliminación </h4>
        <h4>Visualización</h4>
        <br>
        {% endfor %}
        <br>
        <h4>Ingrese nueva tarea</h4>
        <form method="post" action="{% url 'gestion_tareas:dashboard' %}">
        {% csrf_token %}   
            <div>
            <h4>Título: </h4>
            <input type="text" name="tituloTarea">
            </div>    
            <div>
            <h4>Descripción: </h4>
            <input type="text" name="descripcionTarea">
            </div>
            <div>
            <h4>Fecha de creación: </h4>
            <input type="date" name="creacionTarea">
            </div>
            <div>
            <h4>Fecha de entrega: </h4>
            <input type="date" name="entregaTarea">
            </div>
            <div>
            <h4>Usuario designado: </h4>
            <input type="text" name="designadoTarea">
            </div>
            <br>
            <br>
            <button type="submit" name="Crear">Registrar nueva tarea</button>
        </form>
        
    </body>

</html>